@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

h1 {
  color: #008080;
  font-size: 36px;
}

li {
  text-align: left;
  font-size: 24px;
}